// index start

//banner
.banner-bgimg {
    background-image: url(../images/tom-crew-5HRCkrSs9Dk-unsplash.jpg);
}

// hero
.hero-bgimg {
    background-image: url(../images/photo-1579825317824-2cc3aa33f75a.jpg);
    height: 400px;
}




// index end